server:
  port: 8105
spring:
  application:
    name: feign

eureka:
  client: 
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    appname: feign
ribbon:
  eager-load:
    enabled: false